* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.current a {
  color: #2196F3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.title__down {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

/*------------HEDER------------*/
.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
}

.header__logo--accent {
  color: #2196F3;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header__it:not(:last-child) {
  margin-right: 50px;
}

.header__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
  position: relative;
}
.header__item.curent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  left: 0;
  bottom: -34px;
}

.header__link {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  margin-right: 15px;
}

.header__mail {
  margin-right: 50px;
}

.header__tel, .header__mail {
  font-weight: 500;
  color: #757575;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.header__icon--color {
  fill: currentColor;
}

.header__item:hover, .header__mail:hover, .header__item:focus, .header__mail:focus, .header__tel:hover, .header__tel:focus {
  color: #2196F3;
  fill: #2196F3;
}

/*----------------HERO---------------*/
.hero {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  max-width: 1600 px;
  height: 600 px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.hero__btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #FFFFFF;
  margin-top: 30px;
  margin: 0px auto;
  padding: 10px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.hero__btn:hover, .hero__btn:focus {
  color: #8b8a8a;
  background-color: #2196F3;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  -webkit-transition: opacity 300ms, visibility 300ms;
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
          transform: translate(-50%, -50%) scale(1) rotate(0deg);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  padding: 40px;
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 42px;
  margin-top: 4px;
}
.modal__input:focus, .modal__input:focus {
  border: 1px solid #2196F3;
}
.modal__input:focus + .modal__icon {
  fill: #2196F3;
}

.modal-form__item {
  margin-bottom: 10px;
}

.modal-form__coment {
  margin-bottom: 20px;
}

.modal-coment__title {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  outline: none;
}
.modal-coment__title::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal-coment__title::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal-coment__title:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal-coment__title::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal-coment__title::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal-form__galka {
  margin-top: 25px;
  margin-bottom: 30px;
}

.modal__galka--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

.modal__galka--text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  margin-left: 12px;
}

.check:checked + .modal__galka--text::before {
  background-color: #2196F3;
  border: none;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.check:focus + .modal__galka--text::before {
  border-color: #2196F3;
}

.galka__link {
  color: #2196F3;
  margin-left: 4px;
}

.modal__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input-icon {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
}

.modal__submit {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  position: absolute;
  margin-left: 124px;
  margin-right: 124px;
  margin-top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__icon-close {
  fill: #000000;
  -webkit-transition: fill 250ms ease;
  transition: fill 250ms ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__icon-close:hover, .modal__icon-close:focus {
  fill: #2196F3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(0) scale(0) rotate(90deg);
          transform: translate(0) scale(0) rotate(90deg);
}

/*-----BENEFITS-----*/
.benefits-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.benefiits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__icon--grey {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item {
  width: 270px;
  height: 251px;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}

.benefits__text {
  line-height: 1.71;
  color: #757575;
}

/*-----PICTURES-----*/
.pictures-section {
  padding-top: 47px;
  padding-bottom: 94px;
}

.pictures__title {
  margin-bottom: 50px;
}

.pictures__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pictures__img--fon {
  position: relative;
  bottom: 0;
}

.pictures__img {
  margin-right: 30px;
}

.pictures__img--text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*-----TEAM-----*/
.team-section {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title--list {
  margin-bottom: 50px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  padding-bottom: 16px;
}

.team__item {
  background-color: #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__soc--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__icon-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.team__icon-item:last-child {
  margin-right: 0;
}

.team__icon-link {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}
.team__icon-link:hover, .team__icon-link:focus {
  background-color: #2196F3;
}
.team__icon-link:hover .team__icon-soc, .team__icon-link:focus .team__icon-soc {
  fill: #FFFFFF;
}

.team__icon-soc {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms ease;
  transition: fill 250ms ease;
}

/* -----------CLIENTS----------- */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
}

.clients__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__icon-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.clients__icon-item:last-child {
  margin-right: 0;
}

.clients__icon-link {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}
.clients__icon-link:hover, .clients__icon-link:focus {
  border-color: #2196F3;
}
.clients__icon-link:hover .clients__pictures, .clients__icon-link:focus .clients__pictures {
  fill: #2196F3;
}

.clients__pictures {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms ease;
  transition: fill 250ms ease;
}

/*-----FOOTER-----*/
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #FFFFFF;
}

.footer__logo--accent {
  color: #2196F3;
}

.footer__address {
  color: #FFFFFF;
  font-style: normal;
}

.footer__mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}
.footer__mail:hover, .footer__mail:focus {
  color: #2196F3;
}

.fotter__tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}
.fotter__tel:hover, .fotter__tel:focus {
  color: #2196F3;
}

.footer__list {
  width: 231px;
  padding-top: 20px;
}

.footer__item {
  padding-bottom: 9px;
}

.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 12px;
}

.footer-blok__icon {
  margin-left: 70px;
}

.footer__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer__icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}
.footer__icon-link:hover, .footer__icon-link:focus {
  background-color: #2196F3;
}
.footer__icon-link:last-child {
  margin-right: 0;
}
.footer__icon-link:first-child {
  margin-left: 0;
}

.footer__icon-soc {
  fill: #FFFFFF;
}

.footer__check {
  display: block;
  margin-left: 93px;
}

.footer__input--position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px 15px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
}
.footer__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__btn {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  border: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__icon-btn {
  fill: #FFFFFF;
  margin-left: 10px;
  position: absolute;
  right: 28px;
}

/*----------------------PORTFOLIO-------------------*/
.filtr__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filtr__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border-radius: 4px;
  border-color: currentColor;
  color: #212121;
  margin-right: 8px;
  padding: 6px 22px;
  -webkit-transition: background-color, color, border-color, 250ms ease, -webkit-box-shadow;
  transition: background-color, color, border-color, 250ms ease, -webkit-box-shadow;
  transition: background-color, color, box-shadow, border-color, 250ms ease;
  transition: background-color, color, box-shadow, border-color, 250ms ease, -webkit-box-shadow;
  cursor: pointer;
}
.filtr__btn:hover, .filtr__btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  border-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------------------PORTFOLIO--WORK----------------*/
.work {
  padding-bottom: 94px;
  padding-top: 94px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  -webkit-transition: -webkit-box-shadow 250ms ease;
  transition: -webkit-box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease, -webkit-box-shadow 250ms ease;
}
.work__item:nth-child(3n) {
  margin-right: 0;
}
.work__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.work__item:hover, .work__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__paragraf {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.work__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-bottom: 4px;
}

.work__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.work__link {
  width: 100%;
  height: 100%;
}

.work__animation--text {
  position: absolute;
  color: #FFFFFF;
  top: 0px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.work__animation {
  position: relative;
  overflow: hidden;
}

.work__item:hover .work__animation--text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */