/*-----FOOTER-----*/
.footer {
    background-color: $footer-color;
    padding-top: 60px;
    padding-bottom: 60px;  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer .container {
    display: flex;
}
.footer__logo {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $light-color;
}
.footer__logo--accent {
    color: $accent-color;
} 
    
.footer__address {
    color: $light-color;
    font-style: normal;
}

.footer__mail{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    transition: color 250ms ease;
    &:hover, &:focus {
        color: $accent-color;
    }
}
.fotter__tel{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    transition: color 250ms ease; 
    
    &:hover, &:focus{
    color: $accent-color;}
}

.footer__list {
    width: 231px;
    padding-top: 20px;
}
.footer__item {
    padding-bottom: 9px;
}

.footer__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 12px;
}
.footer-blok__icon {
    margin-left: 70px;
}

.footer__soc-list {
    display: flex;
}
.footer__icon-item {
    width: 44px;
    height: 44px;
    margin-right: 10px; 
}


.footer__icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease;
    
    &:hover, &:focus {
    background-color: $accent-color;}
    &:last-child {
    margin-right: 0;}   

    &:first-child {
    margin-left: 0;}
}
.footer__icon-soc {
    fill: #FFFFFF;
}


.footer__check {
    display: block;
    margin-left: 93px;
}
.footer__input--position {
    display: flex;
    justify-content: flex-start;
}
.footer__input {
    background-color: transparent;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 16px 15px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 20px;
    display: flex;
    margin-right: 12px;
    
    &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}
}

.footer__btn {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 29px;
    border: none;
    position: relative;
    display: flex;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__icon-btn {
    fill: #FFFFFF;
    margin-left: 10px;
    position: absolute;
    right: 28px;
}