/*-----TEAM-----*/
.team-section {
    background-color: #F5F4FA;  
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1199px){
    padding-top: 94px;
    padding-bottom: 94px;}
}
.team__title--list {
    color: #212121;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 45px;

    @media screen and (min-width: 1200px){
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }  
}
 
.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #212121;
    padding-top: 30px;
    padding-bottom: 10px;  
}
.team__list {
  @media screen and (max-width: 767px){
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;}

        @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    
    @media screen and (min-width: 1200px){
        display: flex;

        flex-wrap: nowrap;}

}
 
.team__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: $text-color;
    padding-bottom: 16px;
}
 
.team__item {
    background-color: $light-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    @media screen and (max-width: 767px){
    width: 100%;
    margin-bottom: 30px;}
    @media screen and (min-width: 768px){
        flex-basis: 46%;
        margin: 15px;
     
    }
    @media screen and (min-width: 1200px){
    flex-basis: 25%;
    }
}
   
 
.pictures-team{
    width: 100%;
    margin: 0;
}
.team__soc--list {
    display: flex;
    justify-content: center;
 }
.team__icon-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-bottom: 30px;
    
    &:last-child {
    margin-right: 0;}
}

.team__icon-link {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease;
    
    &:hover, &:focus {
    background-color: $accent-color;}
    
    &:hover .team__icon-soc,
    &:focus .team__icon-soc {
    fill: #FFFFFF;}
}

 
.team__icon-soc {
    fill: #AFB1B8;
    transition: fill 250ms ease;
}