*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body.modal-open {
  overflow: hidden;
}
.link {
  text-decoration: none;
}
ul {
  list-style: none;
}
.current a {
  color: $accent-color;
}

a {
  text-decoration: none;
}
